<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>一人一句话</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {#<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);#}
    {#		function hideURLbar(){ window.scrollTo(0,1); } </script>#}
    <!-- //for-mobile-apps -->
    {% load static %}
    <!--jquery-->
    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>

    <!--buttons-->
    <link href="//cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/Buttons/2.0.0/js/buttons.min.js"></script>

    <!--bootstrap-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<!-- main -->
		<div class="figure">
			<img src="{% static 'images/logo.svg' %}" style="background-color: #ffffff"/>
			<div class="main" style="box-sizing: content-box">
				<div class="head">
					<h1>一人一句话</h1>
				</div>
				<div class="input_form">
                    <input type="text" placeholder="Name">
                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <input type="submit" value="LOGIN">
                    <button class="button button-3d button-rounded" style="width: 80%;">登录</button>
                    <button class="button button-rounded" style="width: 80%;background-color: #927057">登录</button>
				</div>
			</div>
			<div class="footer">
				<p>&copy 2016 Sparker. All rights reserved.</p>
			</div>
		</div>
	<!-- //main -->
</body>
</html>