body{
    font-family: 'Microsoft YaHei UI Light','Microsoft YaHei Light','Microsoft YaHei','sans-serif'!important;
    background: #d5c395;
}

.container{
    padding-top: 62px;
    max-width: 720px;
}

#header-wrapper{
    position: fixed;height: 48px;width: 100%;background:#927057;color: #fff;box-shadow: 0 5px 3px #837068;z-index: 100;top:0;
}
#header{
    max-width:800px;margin:0 auto;
}
#header #right-button{
    float: right;margin-top: 6px;margin-right:5px;padding: 0 12px;
}
#header #right-button:hover,#header #right-button:focus{
    color: #927057;
}
#header #logo{
    color: #fff1d1;
}
#header #logo p{
    font-size: 28px;margin: 5px 15px;
}
#header #logo:focus,#header #logo:hover{
    text-decoration: none;
    color: #fff7df;
}


/*-- main --*/
.main{
    width: 30%;
    margin: 3em auto 0;
    padding: 4em 4em 5em;
    background: #d5c395;
    position:relative;
}
.main:before{
    position:absolute;
    top: -6%;
    left: 44%;
    background:url(../images/triangle.png) no-repeat 0px 0px;
    display:block;
    height:35px;
    width:68px;
    content:'';
}
.head {
    margin:0 0 3em;
}
.head h1{
    color:#fff;
    text-align:center;
    font-size:2em;
    margin:0;
}
.figure{
    text-align:center;
    margin:4em auto;
}
.figure img {
    width: 7%;
    margin: 0 auto;
    border: 5px solid #d5c395;
}


.input_form{
    position: relative;
    display: inline-block;
    color: #927057;
}
.input_form span{
    position: absolute;
    top: 8px;
    left: 15px;
}
.input_form .fa{
    font-size: 24px;
}

.input_form input[type="text"],.input_form input[type="password"],.input_form input[type="email"]{
    outline: none;
    border: none;
    background: #efe1c4;
    padding: 10px 10px 10px 60px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}


textarea{
    outline: none;
    border: none;
    background: #efe1c4;
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
}

.footer{
    text-align:center;
    padding:2em 0 0;
}
.footer p{
    font-size: 10px;
    color:#EFE1C4;
    margin:0;
}
a{
    color:#fff;
}
a:hover{
    color:#EFE1C4;
}
/*-- start-responsive-design --*/
@media (max-width:1280px){
    .main {
        width: 35%;
    }
}
@media (max-width: 1024px){
    .main {
        width: 45%;
    }
    .figure img {
        width: 13%;
    }
}
@media (max-width:768px){
    .figure img {
        width: 17%;
    }
    .main {
        width: 60%;
    }
}
@media (max-width:667px){
    .main {
        padding: 3em 3em 4em;
        width: 65%;
    }
}
@media (max-width:640px){
    .figure {
        margin: 3em auto;
    }
}
@media (max-width:600px){
    .head h1 {
        font-size: 1.8em;
    }
    .head {
        margin: 0 0 2em;
    }
    .main:before {
        left: 43%;
    }
}
@media (max-width:568px){
    .figure img {
        width: 20%;
        border: 3px solid #d5c395;
    }
    .main {
        width: 68%;
    }
}
@media (max-width:480px){
    .figure img {
        width: 25%;
    }
    .main {
        width: 80%;
        padding: 2em 2em 3em;
    }
}
@media (max-width:414px){
    .head h1 {
        font-size: 1.5em;
    }
}
@media (max-width:384px){
    .figure {
        margin: 2em auto;
    }
    .figure img {
        width: 30%;
    }
    .main {
        width: 85%;
        padding: 1.5em 1.5em 3em;
        margin: 2.5em auto 0;
    }
}
@media (max-width:375px){
    .main:before {
        left: 41%;
    }
}
@media (max-width:320px){
    .main:before {
        background: url(../images/triangle.png) no-repeat 0px 0px;
        background-size: 100%;
        height: 25px;
        width: 45px;
        left: 42%;
    }
    .head h1 {
        font-size: 1.2em;
    }
    .head {
        margin: 0 0 1.5em;
    }
    .main {
        width: 84%;
        padding: 1.5em 1.5em 2em;
        margin: 2em auto 0;
    }
}


.story{
    background-color: #EFE1C4;border-top: 1px solid #927057;padding-top: 8px;padding-bottom: 8px;
}
.story .avatar{
    width: 72px;height: 72px;vertical-align: middle;display: inline-block;
}
.story .content{
    display: inline-block;width: calc(100% - 80px);width:-moz-calc(100% - 80px);width:-webkit-calc(100% - 80px);vertical-align: middle;padding-left: 3px;
}
.story .content a{
    color: #927057;
}
.story .content a:hover{
    color: #927057;
}
.story .content b{
    color: #927057;display: block;text-overflow: ellipsis;width: 80%;overflow: hidden;white-space: nowrap;margin-top: 8px;font-size: 14px;
}



.word{
    background-color: #EFE1C4;border-top: 1px solid #927057;padding-top: 8px;padding-bottom: 8px;
}
.word .avatar{
    width: 72px;height: 72px;vertical-align: top;display: inline-block;
}
.word .content{
    display: inline-block;width: calc(100% - 80px);width:-moz-calc(100% - 80px);width:-webkit-calc(100% - 80px);vertical-align: top;padding-left: 3px;padding-top: 4px;
}
.word .name{
    display: block;
}
.word .time{
    float: right;
}
.word .content a{
    color: #927057;display: block;margin-top: 6px;font-size: 14px;
}
.word .content a:hover{
    color: #927057;
}
.word .content b{
    color: #927057;
}