<div id="header-wrapper">
    <div id="header">
        {% if has_logged_in %}
            <a id="right-button" href="{% url 'main:me' %}" class="button button-plain button-border button-rounded button-small">{{ user.person.name }}</a>
        {% else %}
            <a id="right-button" href="{% url 'accounts:login' %}" class="button button-plain button-border button-rounded button-small">登录</a>
        {% endif %}
        <a id="logo" href="{% url 'main:index' %}"><p>一人一句话</p></a>
    </div>
</div>
