<!DOCTYPE html>
<html lang="en">
{#{% load static %}#}
{% include 'head.html' %}
<body>
{% include 'partials/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                <h2><b>一个人一句话</b></h2>
                <h6>每一个奇妙的故事，都需要大家的想象。</h6>
            </blockquote>
            <p style="border-radius: 4px;width: 100%;padding: 10px;background: #EFE1C4">
                <b>版本号：v0.1（测试版）</b><br>
                网址：story.sparker.top<br>
                联系我们：support@sparker.xyz<br>
                网站尚在试运营阶段，很多高级功能还未开发完成，见谅。<br>
                <b>近期会推出的功能：<br>
                点赞，修改头像/个人信息/密码，回复通知提醒。<br></b>
                如果您觉得这个网站很棒，请分享给您的朋友们~<br>
                如果您对她有任何的意见，欢迎向我们反馈。
            </p>
            <a href="{% url 'main:index' %}" class="button button-block button-rounded" style="margin-top: 20px">返回首页</a>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>