<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'head.html' %}
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<body>
{% include 'partials/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2><b>开启一个故事</b></h2>
            <textarea id="first_word" placeholder="输入这个故事的第一句话吧…(不要超过200字)" maxlength="200" style="height: 5em;margin-top: 20px"></textarea>
            <button onclick="publish()" class="button button-brown button-block button-rounded button-3d" style="margin-top: 20px">开启故事</button>
            <a href="{% url 'main:index' %}" class="button button-block button-rounded" style="margin-top: 20px">返回故事列表</a>
        </div>
    </div>
</div>
<div class="tabs tabs-style-topline">
    <nav>
        <ul>
            <li class="tab-current"><a href="#" class="icon fa fa-paper-plane"><span>我开启的</span></a></li>
            <li><a href="#" class="icon fa fa-reply-all"><span>我参与的</span></a></li>
            <li><a href="#" class="icon fa fa-user"><span>个人设置</span></a></li>
        </ul>
    </nav>
</div>

{#todo 底部tab#}
</body>
</html>