<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'head.html' %}
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<body>
{% include 'partials/header.html' %}

<div class="container" style="padding-bottom: 100px">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            <div class="avatar" style="background: url('{{ user.person.avatar.url }}') no-repeat center center;background-size: cover;width: 100px;height: 100px;display: inline-block;vertical-align: bottom"></div>
            <div style="display: inline-block;padding-left: 8px;vertical-align: bottom;">
                <button class="button button-brown button-rounded">上传头像</button>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
            <hr>
            <div class="input_form" style="width: 100%;margin: 8px 0 0">
                <span><i class="fa fa-heart"></i></span>
                <input value="{{ user.person.name }}" name="name" type="text" placeholder="昵称" required>
            </div>
            <div class="input_form" style="width: 100%;margin: 18px 0 0">
                <span><i class="fa fa-envelope"></i></span>
                <input value="{{ user.email }}" name="email" type="email" placeholder="邮箱">
            </div>
            <div class="input_form" style="width: 100%;margin: 18px 0 20px">
                <span><i class="fa fa-commenting"></i></span>
                <input value="{{ user.person.introduction }}" name="introduction" type="text" placeholder="一句话个人介绍（20字以内）" maxlength="20">
            </div>
            <a href="#" class="button button-brown button-block button-rounded" style="margin-bottom: 12px"><i class="fa fa-check fa-fw"></i> 提交修改</a>
            <a href="{% url 'main:me_setting' %}" class="button button-block button-rounded"><i class="fa fa-reply fa-fw"></i> 返回</a>
        </div>
    </div>
</div>
<div class="tabs tabs-style-topline">
    <nav>
        <ul>
            <li><a href="{% url 'main:me_created' %}" class="icon fa fa-paper-plane"><span>我开启的</span></a></li>
            <li><a href="{% url 'main:me_participated' %}" class="icon fa fa-reply-all"><span>我参与的</span></a></li>
            <li class="tab-current"><a href="{% url 'main:me_setting' %}" class="icon fa fa-user"><span>个人设置</span></a></li>
        </ul>
    </nav>
</div>
<div style="display: none">
    {% include 'footer.html' %}
</div>
</body>
</html>