<!DOCTYPE html>
<html lang="en">
{#{% load static %}#}
{% include 'head.html' %}
<body>
{% include 'partials/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="avatar" style="background: url('{{ story.create_user.person.avatar.url }}') no-repeat center center;background-size: cover;width: 100px;height: 100px;display: inline-block;vertical-align: top"></div>
            <div style="display: inline-block;width: calc(100% - 120px);width:-moz-calc(100% - 120px);width:-webkit-calc(100% - 120px);padding-left: 3px;vertical-align: top;padding-top: 6px">
                <span style="display: block;font-size: 18px">{{ story.create_user.person.name }}</span>
                <b style="font-size: 18px">{{ story.first_word }}</b>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-xs-6">
            <a href="/index" class="button button-rounded button-block">回到首页</a>
        </div>
        <div class="col-xs-6">
            <a href="#word" class="button button-brown button-rounded button-block">回复故事</a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;border-bottom: 1px solid #927057;">
        {% for word in words.all %}
            <div class="col-xs-12 word">
                <div class="avatar" style="background: url('{{ word.user.person.avatar.url }}') no-repeat center center;background-size: cover;"></div>
                <div class="content">
                    <span class="time">{{ word.publish_time|date:"n/j H:i:s" }}</span>
                    <span class="name">{{ word.user.person.name }}</span>
                    <b>{{ word.text }}</b>
                </div>
            </div>
        {% empty %}
            <div class="col-xs-12 story" style="height: 80px;padding-top: 30px;text-align: center">
                <span>还没有人回复呢</span>
            </div>
        {% endfor %}
        <div class="col-xs-12 word">
            <textarea id="word" style="background: #fff5e1;margin-top: 10px;height: 6em;" placeholder="一句话接下去…（请不要超过200字）" maxlength="200"></textarea>
            <button onclick="publish()" class="button button-rounded button-3d button-brown button-block" style="margin-top: 15px;margin-bottom: 15px">发表</button>
            {% if not has_logged_in %}<p style="width:100%;text-align: center">请先登录再进行回复</p>{% endif %}
        </div>
    </div>
</div>
<script>
    {% if has_logged_in %}
        function publish () {
            var word=$("#word").val();
            if (word == '') {
                alert("内容不能是空的啊");return;
            }
            $.post('reply/',{
                word:word
            },function (data) {
                if (data == 'success') {
                    alert("回复成功");
                    location.reload();
                }else {
                    alert("回复失败");
                }
            });
        }
    {% else %}
        function publish () {
            alert("请先登录再进行回复");
            location.href='/accounts/login';
        }
    {% endif %}

</script>


{% include 'footer.html' %}
</body>
</html>