<!DOCTYPE html>
<html lang="en">
{#{% load static %}#}
{% include 'head.html' %}
<body>
{% include 'partials/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <a class="button button-rounded button-block"><i class="fa fa-search"></i> 搜索</a>
        </div>
        <div class="col-xs-6">
            <a {% if not has_logged_in %}onclick="alert('请先登录才能创建故事')"{% endif %} href="{% url 'main:story_add' %}" class="button button-rounded button-block button-brown"><i class="fa fa-plus"></i> 创建</a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;border-bottom: 1px solid #927057;">
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>